<mat-card class="menu-card">
    <mat-action-list>
        @for (menuItem of menuItems; track $index) {
        <button mat-list-item routerLink={{menuItem.route}}>
            <mat-icon matListItemIcon>{{menuItem.icon}}</mat-icon>
            <div matListItemTitle>{{menuItem.name}}</div>
        </button>
        }

        <button mat-list-item (click)="logout()">
            <mat-icon matListItemIcon>logout</mat-icon>
            <div matListItemTitle>Logout</div>
        </button>
    </mat-action-list>
</mat-card>